.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 100px auto;
}

.galeria{
    text-align: center;
}

#imagemPrincipal{
    width: 84%;
    max-width:600% ;
    margin-bottom: 20px;
}

.miniaturas{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.miniatura {
    width: 100px;
    cursor:pointer;
    border: 2px solid transparent;
}